* {
    cursor: none !important;
}

@import './variables.css';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    font-family: var(--font-main);
}